<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT</h2>
                <hr class="light">
<p class="text-faded"> Dany Laferrière was born in Port-au-Prince, Haiti, and raised in Petit-Goâve </p> 
<a href="https://gjeanlouis.github.io/KLReflections/" class="btn btn-default btn-xl">My Reflections</a>
            </div>
        </div>
    </div>
</section>
