<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT</h2>
                <hr class="light">
<p class="text-faded">Dany Laferrière was born in Port-au-Prince, Haiti, and raised in Petit-Goâve. Prior to beginning his career as a novelist, Laferrière was a jounralist. His journalism work continued when he migrated to Montreal, Canada during the Duvalier Regime. He has written at least twenty two novels in exclusively in French and nine of them have been translated to English by David Homel. Several of his films have been adapted into screenplays including, *How to Make Love to a Negro Without Getting Tired* (*Comment faire l'amour avec un nègre sans se fatiguer*), *On the Verge of a Fever* (*Le Goût des jeunes filles*), and *Heading South* (*Vers le sud*). He has also written a few original screenplays.</p>
<img src="dany2.jpeg">             
                <a href="https://gjeanlouis.github.io/KLReflections/" class="btn btn-default btn-xl">My Reflections</a>
            </div>
        </div>
    </div>
</section>
