<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/Make-Negro-Without-Getting-Tired/dp/1553655850" class="portfolio-box">
                    <img src="img/portfolio/hmln.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1987
                            </div>
                            <div class="project-name">
                               How to Make Love to a Negro Without Getting Tired
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/Eroshima-Dany-Laferriere/dp/0889103852" class="portfolio-box">
                    <img src="img/portfolio/ero.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1991
                            </div>
                            <div class="project-name">
                                Eroshima
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/Aroma-Coffee-Dany-Laferriere/dp/0889104395/ref=sr_1_1?crid=1HDTRYDNIUWW0&keywords=an+aroma+of+coffee+dany&qid=1683489594&s=books&sprefix=an+aroma+of+coffee+dany%2Cstripbooks%2C95&sr=1-1" class="portfolio-box">
                    <img src="img/portfolio/coffee.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1993
                            </div>
                            <div class="project-name">
                                An Aroma of Coffee
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/Dining-Dictator-Dany-Laferriere/dp/0889104808/ref=sr_1_1?crid=1XKPH8Q8BP06Z&keywords=Dining+with+the+Dictator+dany&qid=1683489645&s=books&sprefix=dining+with+the+dictator+dany%2Cstripbooks%2C109&sr=1-1" class="portfolio-box">
                    <img src="img/portfolio/dic.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1994
                            </div>
                            <div class="project-name">
                               Dining with the Dictator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/Must-Black-Writer-Write-About/dp/0889104824/ref=sr_1_1?crid=3KJWWGQL665EB&keywords=Why+Must+a+Black+Writer+Write+About+Sex%3F%2C+dany&qid=1683489682&s=books&sprefix=why+must+a+black+writer+write+about+sex+%2C+dany%2Cstripbooks%2C94&sr=1-1" class="portfolio-box">
                    <img src="img/portfolio/sx.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1994
                            </div>
                            <div class="project-name">
                                Why Must a Black Writer Write About Sex?,
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/drifting-year-Dany-Laferrie%CC%80re/dp/1550542613/ref=sr_1_1?crid=330S9STZ88JFY&keywords=A+Drifting+Year+dany&qid=1683489732&s=books&sprefix=a+drifting+year+dany%2Cstripbooks%2C78&sr=1-1" class="portfolio-box">
                    <img src="img/portfolio/yr.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1997
                            </div>
                            <div class="project-name">
                                A Drifting Year
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
